spring:
  application:
    name: community

  datasource:
    url: jdbc:mysql://localhost:3306/community
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: none

logging:
  level:
    ktb3.full.community: debug
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
    org.springframework.security: debug

file:
  path:
    base: src/main/resources/static
    image: /images

server:
  port: 8443
  ssl:
    enabled: true
    certificate: classpath:localhost.pem
    certificate-private-key: classpath:localhost-key.pem

  servlet:
    session:
      cookie:
        same-site: none
        secure: true

rate-limiter:
  cache:
    maximum-size: 10000
    expire-after-access: 600000
  bucket:
    capacity: 100
    refill-tokens: 1
    refill-periods: 600
  num-tokens-to-consume: 1