name: Local Blue-Green Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted

    env:
      MYSQL_ROOT_PASSWORD: ${{ secrets.MYSQL_ROOT_PASSWORD }}

    steps:
      - uses: actions/checkout@v5

      # 자바 빌드 (Gradle 기준)
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build test

      # 배포 스크립트 실행
      - name: Run Deploy Script
        run: |
          chmod +x ./scripts/deploy.sh
          ./scripts/deploy.sh